export("fars_read")
export("make_filename")
export("fars_summarize_years")
export("fars_map_state")

importFrom("readr", "read_csv")
importFrom("dplyr", "tbl_df","mutate","select", "group_by",
          "summarize","bind_rows","filter")
importFrom("tidyr", "spread")
importFrom("maps", "map")
importFrom("graphics", "points")
importFrom("magrittr", "%>%")

